
* {
    width: auto;
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Roboto', sans-serif;
}
html{
    scroll-behavior: [auto smooth];
    width: 100%;
}

h2{
    padding-top: 20px;
    margin-left:40px;
}
h1, h2{
    font-family: 'Special Elite', cursive;
}
header{
    display: flex;
    height: 100px;
    background-color: #8D0801;
}
.logo{
    margin-right: 10px;
    width: 14%;
}
nav{
    background-color:#8D0801;
    position: sticky;
    top: 0;
    padding:2px ;
    z-index: 1;
    
}
.menu{
    display: flex;
    justify-content: space-evenly;
    width: 85vw;
    align-items:flex-end;
    color: #F4D58D;
    margin: 0;
}
nav ul li a{
    color: #F4D58D;
    text-decoration: none;
    font-family: 'Special Elite', cursive;
    font-size: 22px;
}
li a:hover{
    color:#d1bd0c;
}
.whatWeDo{
    background-color:#D9B54A;
    height: 670px;
    padding-top:20px;
}
.O-que-fazemos{
    display: flex;
    align-items:center;
    margin: 0;
}

.article-1{
    margin: 20px 30px 20px 30px;
    font-family: 'Bree Serif', serif;
    font-size: 22px;
}

.coverPhoto{
    width: 45%;
    height: 40%;
    margin: 5px 5px 0px 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 20px #000000;
}

.OurMenu{
    background-color: #F2DA5E;
    height: 650px;
    padding-top:20px;

}

.cards-row{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px;
}

.card{
    width: 300px;
    height: 400px;
    color: brown;
    box-shadow: 0px 0px 10px 0px #001427;
    transition: all 0.5s;
}
.card:hover{
    transform: scale(1.1);
}
p, h4{
    font-family: 'Bree Serif', serif;
}

.img{
    height: 60%;
    border-radius: 5px 5px 0px 0px;
    
}

.carousel-control-next,
.carousel-control-prev{
    width: 10% !important;
}

.AboutUs{
    background-color: #F2E85C;
    height: 622px;
    padding-top:20px;


}
.About{
    display: flex;
    align-items: center;
}
.SobreNos{
    width: 50%;
    margin: 40px 40px 20px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px #3e3939;
}
.Article-2{
    margin: 40px 40px 20px 50px;
    font-family: 'Bree Serif', serif;
    font-size: 21px;
}
.ContactUs{
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    height: 480px;
    background-color: #e4db97;
}
.form{
    width: 700px;  
}
.Name,
.Email,
.Phone{
    margin: 10px;
    width: 250px;
    background-color: rgb(251, 251, 251);
    border-radius: 3px;
    padding: 5px;
    border: none;
    outline: none;
}
.PersonalInfo{
    display:flex;
    justify-content: space-between;
}
.card-message{
    display: flex;
    flex-direction: column;
}
.message{
    height: 150px;
    background-color:  rgb(251, 251, 251);
}
.button,
.message{
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    outline: none;
}
.button{
    background-color: rgb(202, 199, 18);
}
.button:hover{
    background-color: rgb(193, 188, 28);
    color: rgb(17, 14, 9)
}
.Contact{
    color: rgb(10, 8, 10);
}
ul{
    padding-left: 0 !important;
}

.whatsapp-link{
    font-size: 40px;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50%;
	text-align:center;
    z-index:100;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.whatsapp-link:hover{
    color:#FFF;
    background-color: #04858F;
}

.fa-whatsapp{
    margin-top: 10px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 115px;
    background-color: #D2D7D9;
}
.developers,
.policy a{
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    text-decoration: none;
}
.social-media a{
    font-size: 40px;
    color: rgb(44, 40, 40);
    padding: 5px;
}
.policy a{
    margin-right: 20px;
    color: black;
}
.social-media a:hover,
.policy a:hover{
    color: rgb(80, 76, 76);
}