/* 001427, F4D58D, 708D81, BF0603, 8D0801 */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: 'Roboto', sans-serif;
    }
    
.navbar{
    display: flex;
    height: 100px;
    background-color: #8D0801;
    
}
.logo{
    margin-right: 10px;
    width: 11%;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    align-items:flex-end;   
    font-weight: 400;
    font-size: large;
    color: #F4D58D;
    margin-bottom: -45px;
}

.whatWeDo{
    display: flex;
    background-color:#F4D58D;
    height: 570px;
}

.article-1{
    margin: 40px 40px 10px 80px;
    width: 40%;
    height:400px ;
    resize: none;
    font-size: large;
    outline: none;
    background-color: #F4D58D;
}

.coverPhoto{
    height: 70%;
    margin: 40px 10px 40px 10px;
    border-radius: 5px;
}

.OurMenu{
    background-color: #3c5770;
    height: 500px;
}

.cards-row{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0 50px;
}

.card{
    width: 300px;
    height: 400px;
    color: brown;
    box-shadow: 0px 0px 10px 5px #001427;
}

.img{
    height: 60%;
    border-radius: 5px 5px 0px 0px;
}

.carousel-control-next,
.carousel-control-prev{
    width: 10% !important;
}